.beefmeals {
  text-align: center;

  .meal-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .meal {
    width: 200px;
    margin: 20px;
    cursor: pointer;

    img {
      width: 200%;
      height: auto;
      border-radius: 8px;
    }

    h3 {
      margin-top: 10px;
      font-size: 18px;
    }
  }
}
