<div class="patient">
  <h2>Patient Management</h2>
  <button (click)="openCreateDialog()">Yeni Hasta Ekle</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Fullname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.name }}</td>
        <td>{{ patient.surname }}</td>
        <td>{{ patient.fullname }}</td>
        <td>{{ patient.username }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.role }}</td>
        <td>
          <button class="edit" (click)="editPatient(patient)">Düzenle</button>
          <button class="delete" (click)="deletePatient(patient.id)">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
