.legume {
  padding: 20px;

  .meal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .meal-card {
      width: 200px;
      margin: 10px;
      cursor: pointer;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 8px;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
      }

      h2 {
        font-size: 1.5rem;
        margin: 10px 0;
      }
    }
  }
}
