<!--<div class="meal">
  <button class="btn-add" routerLink="admin/admin-create-meal">Yeni Meal Ekle</button>

  <table>
    <thead>
      <tr>
        <th>Meal Name</th>
        <th>Description</th>
        <th>Calory</th>
        <th>Category</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meal of meals">
        <td>{{ meal.mealName }}</td>
        <td>{{ meal.description }}</td>
        <td>{{ meal.calory }}</td>
        <td>{{ meal.categoryName }}</td>
        <td><img [src]="meal.image" alt="{{ meal.mealName }}" width="50"></td>
        <td>
          <button class="btn-edit" (click)="editMeal(meal.id)">Düzenle</button>
          <button class="btn-delete" (click)="deleteMeal(meal.id)">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->
<p>Çalışıyorrrrr</p>
