<div class="allergies">
    <h2>Alerji Kaydı Ekle</h2>
    <p>Aşağıdaki alerji tiplerinden kendinizde bulunanları butonun 
        üzerine tıklayarak seçiniz.</p>
    <!-- <p>Eğer seçeneklerde bulunmayan bir alerjiniz varsa "Diğer" bölümüne 
        ekleyebilirsiniz.</p> -->
    <div class="toggle-container">

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 01</span> <!-- Yazı -->
        </div>
        
        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 02</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 03</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 04</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 05</span> <!-- Yazı -->
        </div>
        
        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 06</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 07</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 08</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 09</span> <!-- Yazı -->
        </div>
        
        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 10</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 11</span> <!-- Yazı -->
        </div>

        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="toggle-text">Alerji 12</span> <!-- Yazı -->
        </div>

    </div>    
</div>

