<form [formGroup]="createPatientForm" (ngSubmit)="submit()" class="form-container">
  <h2>Create Patient</h2>
  <div class="form-field">
    <label for="name">First Name</label>
    <input id="name" formControlName="name" />
  </div>
  <div class="form-field">
    <label for="surname">Last Name</label>
    <input id="surname" formControlName="surname" />
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" />
  </div>
  <div class="form-field">
    <label for="phoneNumber">Phone Number</label>
    <input id="phoneNumber" formControlName="phonenumber" />
  </div>
  <div class="form-field">
    <label for="username">Username</label>
    <input id="username" formControlName="username" />
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />
  </div>
  <div class="form-field">
    <label for="gender">Gender</label>
    <input id="gender" formControlName="gender" />
  </div>
  <div>
    <label for="height">Height</label>
    <input id="height" formControlName="height" type="number" required />
  </div>
  <div>
    <label for="weight">Weight</label>
    <input id="weight" formControlName="weight" type="number" required />
  </div>
  <div>
    <label for="medicalcondition">Medical Conditions</label>
    <input id="medicalcondition" formControlName="medicalcondition" required />
  </div>
  <div>
    <label for="medication">Medications</label>
    <input id="medication" formControlName="medication" required />
  </div>
  <div class="form-actions">
    <button type="submit">Create Patient</button>
  </div>
</form>
