<h2 mat-dialog-title>Hasta Ekle</h2>
<mat-dialog-content>
  <form [formGroup]="createPatientForm">
    <!-- İsim -->
    <mat-form-field appearance="fill">
      <mat-label>İsim</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <!-- Soyisim -->
    <mat-form-field appearance="fill">
      <mat-label>Soyisim</mat-label>
      <input matInput formControlName="surname" />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <!-- Telefon Numarası -->
    <mat-form-field appearance="fill">
      <mat-label>Telefon Numarası</mat-label>
      <input matInput formControlName="phonenumber" />
    </mat-form-field>

    <!-- Kullanıcı Adı -->
    <mat-form-field appearance="fill">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <!-- Şifre -->
    <mat-form-field appearance="fill">
      <mat-label>Şifre</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <!-- Cinsiyet -->
    <mat-form-field appearance="fill">
      <mat-label>Cinsiyet</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Erkek</mat-option>
        <mat-option value="female">Kadın</mat-option>
        <mat-option value="other">Diğer</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Yaş -->
    <mat-form-field appearance="fill">
      <mat-label>Yaş</mat-label>
      <input matInput formControlName="age" type="number" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>role id</mat-label>
      <input matInput formControlName="roleId" type="number" />
    </mat-form-field>

    <!-- Kilo -->

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">İptal</button>
  <button mat-button (click)="onSubmit()">Kaydet</button>
</mat-dialog-actions>
