<div class="healthrecords">
  <h2>Health Records</h2>
  <button (click)="openCreateDialog()">Yeni Sağlık Kaydı Ekle</button>
  <table>
    <thead>
      <tr>
        <th>Tansiyon (mm/Hg)</th>
        <th>Kalp Atışı (bpm)</th>
        <th>Kolesterol (mg/dL)</th>
        <th>Kan Şekeri (mg/dl)</th>
        <th>Kayıt Zamanı</th>
        <th>İlaçlar</th>
        <th>Medikal Durumlar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of healthrecords">
        <td>{{ record.bloodPressure }}</td>
        <td>{{ record.heartRate }}</td>
        <td>{{ record.cholesterol }}</td>
        <td>{{ record.bloodSugar }}</td>
        <td>{{ record.recordTime }}</td>
        <td>{{ record.medications }}</td>
        <td>{{ record.medicalConditions }}</td>
        <td>
          <button class="edit" (click)="editHealthRecord(record)">Düzenle</button>
          <button class="delete" (click)="deleteHealthRecord(record.id)">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>